<ons-page class="habit-manager" ng-controller="HabitController as habitManager">
    <div class="container">
        <div class="jumbotron">
            <div class="vertical-left">
                <ons-icon
                  icon="ion-ios-arrow-thin-left"
                  size="30px"
                  fixed-width="false"
                  ng-click="app.navi.pushPage('main.html', { animation : 'slide' });">
                </ons-icon>
            </div>
            <div class="vertical-center">Add Habit</div>
            <div class="vertical-right">
                <ons-icon
                  icon="ion-ios-checkmark-empty"
                  size="30px"
                  fixed-width="false"
                  ng-click="habitGroupManager.CreateHabitGroup();">
                </ons-icon>
            </div><br /><br /><br />
            <div class="vertical-left">
                <ons-icon
                  icon="ion-ios-color-filter-outline"
                  size="30px"
                  fixed-width="false">
                </ons-icon>
                0 habits
            </div><br /><br /><br />
            <div class="vertical-left">
                <ons-icon
                  icon="ion-ios-stopwatch-outline"
                  size="30px"
                  fixed-width="false">
                </ons-icon>
                <!-- Here can be angular-moment for calculation -->
                0
            </div>
        </div>
        <div class="panel-body">
        <div>
            <div class="form-group">
                <input name="habit_search" id="habit_search" type="text" placeholder="Search or add a new habit" typeahead="h for h in habitManager.premadeHabits | filter:$viewValue | limitTo:8" class="form-control">
    		</div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">Avaible Habits</div>
          <div class="panel-body">
            <ons-list ng-init="habitManager.LoadPremadeHabits()">
              <ons-list-item tappable ng-repeat="h in habitManager.premadeHabits">
                <div class="vertical-left">
                  <div class="habit_group_title">
                    {{ h.name }} 
                  </div>
                </div>
                <div class="vertical-left">
                    <span style="color: green;">{{habitManager.getTimeFromMins(h.duration)}}</span>
                </div>
                <div class="vertical-right">
                    <ons-icon
                      icon="{{h.habits.contains(h.id) ? 'ion-android-done' : 'ion-android-close'}}"
                      size="30px"
                      fixed-width="false"
                      ng-click="habitManager.addPremadeHabitToGroup(this, h.id);">
                    </ons-icon>
                </div>
                <div class="vertical-left-new-line">
                    <div class="habit_group_description">
                        <i>{{ h.description }}</i>
                    </div>
                </div>
              </ons-list-item>
            </ons-list>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">Created Habits</div>
          <div class="panel-body">
            <div id="createdHabitLoading">
            </div>
            Content coming soon
          </div>
        </div>
        </div>
    </div>
</ons-page>