<ons-page ng-controller="HabitGroupController as habitGroupManager">
    <div class="container" ng-init="habitGroupManager.LoadHabitGroup();">  
        <ons-toolbar>
            <div class="left">
                <ons-icon
                  icon="ion-ios-close-empty"
                  size="30px"
                  fixed-width="false"
                  ng-click="app.navi.pushPage('main.html', { animation : 'slide' });">
                </ons-icon>
            </div>
            <div class="center">habitGroupManager.targetInfo.name</div>
            <div class="right">
                <ons-icon
                  icon="ion-ios-compose-outline"
                  size="30px"
                  fixed-width="false"
                  ng-click="habitGroupManager.CreateHabitGroup();">
                </ons-icon>
            </div>
        </ons-toolbar>
        
        <div class="panel-body">
        
        {{habitGroupManager.targetInfo}}
      
        </div>
    </div>
</ons-page>