<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">o
  <meta http-equiv="Content-Security-Policy" content="default-src * data:; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">
  <script src="components/loader.js"></script>
  <script src="lib/angular/angular.min.js"></script>
  <script src="lib/jquery/jquery-3.1.1.min.js"></script>
  <script src="lib/bootstrap/bootstrap.min.js"></script>
  <script src="lib/onsenui/js/onsenui.min.js"></script>
  <script src="lib/onsenui/js/angular-onsenui.min.js"></script>
  <script src="lib/global.js"></script>
  <script src="scripts/angular/taskController/taskController.js"></script>
  <script src="scripts/angular/userController/userController.js"></script>
  <link rel="stylesheet" href="components/loader.css">
  <link rel="stylesheet" href="lib/onsenui/css/onsenui.css">
  <link rel="stylesheet" href="lib/onsenui/css/onsen-css-components.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <ons-navigator animation="slide" var="app.navi">
      <ons-page>
        
        <ons-toolbar>
          <div class="center">Welcome to DBG</div>
        </ons-toolbar>
    
        <p style="text-align: center; margin-top: 30px;">
          <ons-button modifier="light" ng-click="app.navi.pushPage('register.html');">Register</ons-button>
        </p>
        <p style="text-align: center; margin-top: 30px;">
          <ons-button modifier="light" ng-click="app.navi.pushPage('login.html');">Login</ons-button>
        </p>
        <p style="text-align: center; margin-top: 30px;">
          <ons-button modifier="light" ng-click="app.navi.pushPage('main.html');">Main</ons-button>
        </p>
      </ons-page>
    </ons-navigator>
    
        <ons-sliding-menu var="app.menu" main-page="main.html" max-slide-distance="200px" type="reveal" side="left">
    </ons-sliding-menu>
    
    <!-- Register template -->
  <ons-template id="register.html">
    <ons-page ng-controller="TaskController as taskManager">
    
        <ons-toolbar>
          <div class="left">
            <ons-back-button>Back</ons-back-button>
          </div>
          <div class="center">Sign up</div>
        </ons-toolbar>
    
        <div style="text-align: center; margin-top: 30px;">
            <p>
              <ons-input id="name" ng-model="taskManager.userName" modifier="underbar" placeholder="Name" float></ons-input>
            </p>
            <p>
              <ons-input id="email" ng-model="taskManager.userEmail" modifier="underbar" placeholder="Email" float></ons-input>
            </p>
            <p>
              <ons-input id="password" ng-model="taskManager.userPassword" modifier="underbar" type="password" placeholder="Password" float></ons-input>
            </p>
            <p style="margin-top: 30px;">
              <ons-button ng-click="taskManager.registerUser()">Register</ons-button>
            </p>
        </div>
    </ons-page>
    </ons-template>
    <!-- Login template -->
    <ons-template id="login.html">
    <ons-page ng-controller="TaskController as taskManager">
        <ons-toolbar>
          <div class="left">
            <ons-back-button>Back</ons-back-button>
          </div>
          <div class="center">Login</div>
        </ons-toolbar>
    
        <div style="text-align: center; margin-top: 30px;">
            <p>
              <ons-input id="email" modifier="underbar" placeholder="Email" float></ons-input>
            </p>
            <p>
              <ons-input id="password" modifier="underbar" type="password" placeholder="Password" float></ons-input>
            </p>
            <p style="margin-top: 30px;">
              <ons-button ng-click="taskManager.loginUser()">Login</ons-button>
            </p>
        </div>
    </ons-page>
    </ons-template>
    
    <ons-template id="main.html">
    <ons-page ng-controller="TaskController as taskManager">
    <p>
     <ons-toolbar-button onclick="app.menu.toggleMenu()">
          <ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em;"></ons-icon>
        </ons-toolbar-button>
        <ons-button id="new-habit" ng-click="app.navi.pushPage('habit.html');" modifier="cta">+</ons-button> 
   </p>
     <div class="container">
      <div class="jumbotron">
        <h1>Wall</h1>      
        <p>Active tasks/habits.</p>
      </div>
      <div>
      <h3>Tasks:</h3>
      <div ng-show="taskManager.userTasks.length === 0">
        <p>
            No tasks has been added! You can add task using button.
        </p>
      </div>
     </div>
     <ons-list>
      <ons-list-item tappable ng-show="taskManager.userTasks.length !== 0" ng-repeat="t in taskManager.userTasks track by $index" ng-click="taskManager.removeTask($index)">
      <div class="center">
          <div class="title">
            {{ t }}
          </div>
      </div>
      </ons-list-item>
     </ons-list>
     <div id="add-task">
        <ons-button ng-click="taskManager.showNewTask()" modifier="cta">New Task</ons-button> 
     </div>
     <div id="new-task" hidden>
     <ons-input id="new-task-input" modifier="underbar" ng-model="taskManager.taskName" placeholder="Your task" float></ons-input><br/>
     <ons-button id="save-task" ng-click="taskManager.addNewTask()" modifier="cta">Save</ons-button> 
     </div>
     <ons-bottom-toolbar>
        <ons-button id="save-task" ng-click="taskManager.logoutUser()" modifier="cta">Logout</ons-button>
     </ons-bottom-toolbar>
  </ons-page>
  </ons-template>
  
  <ons-template id="habit.html">
    <ons-page ng-controller="TaskController as taskManager">
    <ons-toolbar>
          <div class="left">
            <ons-back-button>Back</ons-back-button>
          </div>
          <div class="center">Add Habit</div>
        </ons-toolbar>
     <div class="container">
      <div style="text-align: center; margin-top: 30px;">
        <p>
            <ons-input modifier="underbar" placeholder="Search or add a new habit" ng-model="taskManager.userSearch" ng-minlength="2" float></ons-input>
        </p>
      </div>
     <div>
       <div ng-repeat="habit in taskManager.userHabits | filter:taskManager.userSearch as filtered">
         <div>
           {{habit}}
         </div>
       </div>
       <p style="text-align: center;">Showing {{filtered.length}} Habits</p>
       <div ng-if="filtered.length === 0">
           <ons-button id="add-task" ng-click="taskManager.showHabitInput()" modifier="cta">Add</ons-button>
       </div>
       <div id="new-habit-input" hidden>
         <ons-input modifier="underbar" ng-model="taskManager.habitName" placeholder="Habit name" float></ons-input><br/>
         <p>-> Hopefully icon in future</p>
         <ons-input type="number" modifier="underbar" ng-model="taskManager.habitPushDelay" placeholder="Habit push delay" float></ons-input><br/>
         <ons-button ng-click="taskManager.addHabit()" modifier="cta">Save</ons-button> 
       </div>
       <div class="jumbotron">
       <ons-list>
          <ons-list-item tappable ng-repeat="h in taskManager.userHabits track by $index">
          <div class="center">
              <div class="title">
                {{ h.name }} <span style="color: green;">{{h.delay}}</span>
              </div>
          </div>
          </ons-list-item>
     </ons-list>
       </div>
     </div>
     <ons-bottom-toolbar>
        <ons-button id="save-task" ng-click="taskManager.logoutUser()" modifier="cta">Logout</ons-button>
     </ons-bottom-toolbar>
  </ons-page>
  </ons-template>
  
<ons-template id="menu.html">
  <ons-page>
  Sexy
    <!-- menu page's contents -->
  </ons-page>
</ons-template>
</body>
</html>
