<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">o
  <meta http-equiv="Content-Security-Policy" content="default-src * data:; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">
  <script src="components/loader.js"></script>
  <script src="lib/angular/angular.min.js"></script>
  <script src="lib/jquery/jquery-3.1.1.min.js"></script>
  <script src="lib/bootstrap/bootstrap.min.js"></script>
  <script src="lib/onsenui/js/onsenui.min.js"></script>
  <script src="lib/onsenui/js/angular-onsenui.min.js"></script>
  <script src="lib/global.js"></script>
  <script src="scripts/angular/taskController/taskController.js"></script>
  <link rel="stylesheet" href="components/loader.css">
  <link rel="stylesheet" href="lib/onsenui/css/onsenui.css">
  <link rel="stylesheet" href="lib/onsenui/css/onsen-css-components.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <ons-navigator animation="slide" var="app.navi">
      <ons-page>
        
        <ons-toolbar>
          <div class="center">Welcome to DBG</div>
        </ons-toolbar>
    
        <p style="text-align: center; margin-top: 30px;">
          <ons-button modifier="light" ng-click="app.navi.pushPage('register.html');">Register</ons-button>
        </p>
        <p style="text-align: center; margin-top: 30px;">
          <ons-button modifier="light" ng-click="app.navi.pushPage('login.html');">Login</ons-button>
        </p>
        <p style="text-align: center; margin-top: 30px;">
          <ons-button modifier="light" ng-click="app.navi.pushPage('main.html');">Main</ons-button>
        </p>
      </ons-page>
    </ons-navigator>
    
        <ons-sliding-menu var="app.menu" main-page="main.html" max-slide-distance="200px" type="reveal" side="left">
    </ons-sliding-menu>
    
    <!-- Register template -->
  <ons-template id="register.html">
    <ons-page ng-controller="TaskController as taskManager">
    
        <ons-toolbar>
          <div class="left">
            <ons-back-button>Back</ons-back-button>
          </div>
          <div class="center">Sign up</div>
        </ons-toolbar>
    
        <div style="text-align: center; margin-top: 30px;">
            <p>
              <ons-input id="name" ng-model="taskManager.userName" modifier="underbar" placeholder="Name" float></ons-input>
            </p>
            <p>
              <ons-input id="email" ng-model="taskManager.userEmail" modifier="underbar" placeholder="Email" float></ons-input>
            </p>
            <p>
              <ons-input id="password" ng-model="taskManager.userPassword" modifier="underbar" type="password" placeholder="Password" float></ons-input>
            </p>
            <p style="margin-top: 30px;">
              <ons-button ng-click="taskManager.registerUser()">Register</ons-button>
            </p>
        </div>
    </ons-page>
    </ons-template>
    <!-- Login template -->
    <ons-template id="login.html">
    <ons-page ng-controller="TaskController as taskManager">
        <ons-toolbar>
          <div class="left">
            <ons-back-button>Back</ons-back-button>
          </div>
          <div class="center">Login</div>
        </ons-toolbar>
    
        <div style="text-align: center; margin-top: 30px;">
            <p>
              <ons-input id="email" modifier="underbar" ng-model="taskManager.userEmail" placeholder="Email" float></ons-input>
            </p>
            <p>
              <ons-input id="password" modifier="underbar" ng-model="taskManager.userPassword" type="password" placeholder="Password" float></ons-input>
            </p>
            <p style="margin-top: 30px;">
              <ons-button ng-click="taskManager.loginUser()">Login</ons-button>
            </p>
        </div>
    </ons-page>
    </ons-template>
    
    <ons-template id="main.html">
    <ons-page ng-controller="TaskController as taskManager">
    <p>
     <ons-toolbar-button onclick="app.menu.toggleMenu()">
          <ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em;"></ons-icon>
        </ons-toolbar-button>
        <ons-button id="new-habit" ng-click="app.navi.pushPage('habit.html');" modifier="cta">+</ons-button> 
   </p>
     <div class="container">
      <h1>Wall</h1> 
      <ul class="list-inline">
        <li><a href="#" ng-click="app.navi.pushPage('main.html');">Wall</a></li>
        <li><a href="#" ng-click="app.navi.pushPage('history.html');">History</a></li>
      </ul>
      <ons-button id="push-notification" ng-click="taskManager.sendPushNotification()" modifier="cta">Push Notification</ons-button>
     <ons-button id="save-task" ng-click="taskManager.logoutUser()" modifier="cta">Logout</ons-button>
  </ons-page>
  </ons-template>
  
  <ons-template id="history.html">
    <ons-page ng-controller="TaskController as taskManager">
    <p>
     <ons-toolbar-button onclick="app.menu.toggleMenu()">
          <ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em;"></ons-icon>
        </ons-toolbar-button>
        <ons-button id="new-habit" ng-click="app.navi.pushPage('habit.html');" modifier="cta">+</ons-button> 
   </p>
     <div class="container">
      <h1>History</h1> 
      <ul class="list-inline">
        <li><a href="#" ng-click="app.navi.pushPage('main.html');">Wall</a></li>
        <li><a href="#" ng-click="app.navi.pushPage('history.html');">History</a></li>
      </ul>
     <ons-button id="save-task" ng-click="taskManager.logoutUser()" modifier="cta">Logout</ons-button>
  </ons-page>
  </ons-template>
  
<ons-template id="menu.html">
  <ons-page>
  Sexy
    <!-- menu page's contents -->
  </ons-page>
</ons-template>
</body>
</html>
