/**/
#new-task, #add-task, #habits_container, #habit_group_container{
    margin-top: 15px;   
}

#new-habit{
    position: absolute;
    right: 10px;
    top: 5px;
}

#lang-switch{
    padding-top: 15px;
    padding-left: 10px;    
    list-style-type: none;
}

.error-container {
  margin: 5px 0;
}

.error {
  padding: 10px 16px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  color: #555;
  vertical-align: middle;
}

.error i {
  font-size: 24px;
  color: #B83E2C;  
  vertical-align: middle;
}

.has-errors {
  border-bottom: 3px solid #B83E2C !important;
}

.no-errors {
  border-bottom: 3px solid green !important;
}

.navbar-default {
    background-color: rgb(248, 248, 248);
    background-color: rgba(248, 248, 248, 0);
    border-color: rgb(231, 231, 231);
    border-color: rgba(231, 231, 231, 0);
}

#slide-menu-button{
    background-color: rgb(248, 248, 248); 
}

.navbar-toggle{
    float: left;
    left: 10px;
    top: -5px;
}

.container{
    padding-top: 23px;
}

.habit-manager{
    font-size: 85%;
}

#today_habit_groups{
    padding-bottom: 15px;
    padding-top: 15px;
}

.habit_group_description{
    font-size: 8%;
}
/*
.right{
    position: absolute;
    right: 0px;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
}
*/
/*Custom image classes */
.day-checkbox {
    /*background-image: url("css_res/DayPickerBackground.png");*/
    background: url("css_res/DayPickerBackground.png");
    background-size: 80px 60px;
    background-repeat: no-repeat;
}

.day-checkbox button {
    padding: 32px 16px;
}

/*Custom BOOTSTRAP*/
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}
.vertical-center {
  display: inline-block;
  margin:0 auto;
  width:100px;

  text-align: center;  /* align the inline(-block) elements horizontally */
}

.vertical-left {
  float:left;
  width:100px;
  
  text-align: left;
}

.vertical-right {
  float:right;
  width:100px;
  
  text-align: right;
}